<template>


  <div class="container-fluid">
    <div class="row">
      <app-sidebar></app-sidebar>

      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Dashboard</h1>

        <section class="row text-center placeholders">
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
        </section>

        <div class="row">
          <div class="col-md-9">
            <h2>Data</h2>
          </div>
          <div class="col-md-3 text-right">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query" v-model="searchQuery">
          </div>
        </div>
        
        <app-data-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery">
        </app-data-grid>
      </main>
    </div>
  </div>


</template>

<script>
  import Sidebar from './Sidebar.vue';
  import DataGrid from './DataGrid.vue';

  export default {
    components: {
      appDataGrid: DataGrid
      , appSidebar: Sidebar
    },
    data: function() {
      return {
        searchQuery: '',
        gridColumns: ['name', 'power'],
        gridData: ['']
      }
    },
    methods: {
      loadData() {
          this.$http.get('sells').then(
            response => {
              this.gridData = response.body;
            },
            error => {
              console.log('error: ', error);
            }
          );
      }
    },
    mounted() {
        this.loadData();
    }
  }
</script>
