<template>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <router-link to="/" class="navbar-brand" >Dataviz</router-link>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <router-link to="/" class="nav-item" tag="li" activeClass="active" exact><a class="nav-link">Home</a></router-link>
        <router-link to="/dashboard" class="nav-item" tag="li" activeClass="active" v-if="user.authenticated"><a class="nav-link">Dashboard</a></router-link>
      </ul>
      <ul class="navbar-nav navbar-right">
        <router-link to="/login" class="nav-item" tag="li" activeClass="active" v-if="!user.authenticated"><a class="nav-link">Login</a></router-link>
        <li class="nav-item" v-else><a class="nav-link" href="#" @click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</template>

<script>
import auth from '../auth'

export default {
  data() {
    return {
      user: auth.user,
      searchQuery: ''
    }
  },

  methods: {

    logout() {
      auth.logout()
    }
  }
}
</script>
