<template>
  <div class="container-fluid">
    <div class="row">
      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Home</h1>
      </main>
    </div>
  </div>
</template>
