<template>
<form class="form-signin">
  <h2 class="form-signin-heading">Login</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" class="form-control" placeholder="Username" required autofocus v-model="credentials.username">

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required v-model="credentials.password">

  <button class="btn btn-lg btn-primary btn-block" @click="submit()">Log in</button>
</form>
</template>

<script>
import auth from '../auth'

export default {

  data() {
    return {
      credentials: {
        username: '',
        password: ''
      },
      error: ''
    }
  },

  methods: {

    submit() {

      var credentials = {
        username: this.credentials.username,
        password: this.credentials.password
      }

      auth.login(this, credentials, 'dashboard')
    }
  }

}
</script>
