<template>
<div>
  <app-header></app-header>
  <router-view></router-view>
</div>
</template>

<script>
  import Header from './components/Header.vue';
  import Dashboard from './components/Dashboard.vue';

  export default {
    components: {
      appHeader: Header,
      appDashboard: Dashboard
    }
  }
</script>
